In [1]:
!wget http://files.grouplens.org/datasets/movielens/ml-100k.zip

--2020-02-14 09:36:10--  http://files.grouplens.org/datasets/movielens/ml-100k.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4924029 (4.7M) [application/zip]
Saving to: ‘ml-100k.zip’

ml-100k.zip         100%[===================>]   4.70M  3.25MB/s    in 1.4s

2020-02-14 09:36:11 (3.25 MB/s) - ‘ml-100k.zip’ saved [4924029/4924029]

In [2]:
!unzip ml-100k.zip

Archive:  ml-100k.zip
   creating: ml-100k/
  inflating: ml-100k/allbut.pl
  inflating: ml-100k/mku.sh
  inflating: ml-100k/README
  inflating: ml-100k/u.data
  inflating: ml-100k/u.genre
  inflating: ml-100k/u.info
  inflating: ml-100k/u.item
  inflating: ml-100k/u.occupation
  inflating: ml-100k/u.user
  inflating: ml-100k/u1.base
  inflating: ml-100k/u1.test
  inflating: ml-100k/u2.base
  inflating: ml-100k/u2.test
  inflating: ml-100k/u3.base
  inflating: ml-100k/u3.test
  inflating: ml-100k/u4.base
  inflating: ml-100k/u4.test
  inflating: ml-100k/u5.base
  inflating: ml-100k/u5.test
  inflating: ml-100k/ua.base
  inflating: ml-100k/ua.test
  inflating: ml-100k/ub.base
  inflating: ml-100k/ub.test

In [3]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
        .master("local")
        .appName("Movies")
        .getOrCreate()
)

In [4]:
spark

In [37]:
!tail -n 40 ml-100k/README | head -n 5

              movie id | movie title | release date | video release date |
              IMDb URL | unknown | Action | Adventure | Animation |
              Children's | Comedy | Crime | Documentary | Drama | Fantasy |
              Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |
              Thriller | War | Western |

In [8]:
!head -n 1 ml-100k/u.item

1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0

In [ ]:
CREATE TABLE (
defin
) LOAD INTO table csv.csv

In [38]:
from pyspark.sql.types import *

schema_item = StructType([
  StructField("UserID", LongType()),
  StructField("Title", StringType()),
  StructField("Date", StringType()),
  StructField("VRD", StringType()),
  StructField("Url", StringType()),
  StructField("?", StringType()),
    StructField("Action", ShortType()),
    StructField("Adventure", ShortType()),
    StructField("Animation", ShortType()),
])

dfi = (
  spark
  .read
  .schema(schema_item)
  .option("header", "false")
  .option("delimiter", "|")
  .csv("ml-100k/u.item")
)

dfi.show(3)

+------+-----------------+-----------+----+--------------------+---+------+---------+---------+
|UserID|            Title|       Date| VRD|                 Url|  ?|Action|Adventure|Animation|
+------+-----------------+-----------+----+--------------------+---+------+---------+---------+
|     1| Toy Story (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|     0|        0|        1|
|     2| GoldenEye (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|     1|        1|        0|
|     3|Four Rooms (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|     0|        0|        0|
+------+-----------------+-----------+----+--------------------+---+------+---------+---------+
only showing top 3 rows

In [45]:
!

/home/jovyan

In [46]:
df = (
  spark
  .read
  .option("inferSchema", "true")
  .option("header", "true")
  .csv("015-Spark/notebooks/ML/bank.csv")
)

In [48]:
df.show(3)

+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|       job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|    admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|    admin.|married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41|technician|married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 3 rows